.searchbar{

  float: right;
}

#logo {
  display: block;
  width: 125px;
  margin-left: auto;
  margin-right: auto;

}

.left {
  display: block;
  float: left;
  height: 100px;
  margin: 8px;
}

.right {
  display: block;
  float: right;
  height: 100px;
  margin: 8px;
}

#green {
  background-color: #E0FFE5;

}

#blue{
  background-color: #EEFAFF;
}

#pink{
  background-color: #FFE8EE;
}
